.container {
    scroll-behavior: smooth;
}

.game-image {
    width: 100%;
}

.name-content{
    text-align: left;
}

.align-center {
    text-align: center;
}

.row {
    margin-top: 20px;
}

.retro-deals-section {
    height: 100%;
    margin-top: 10rem;
}

.box-deal {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
}

.retro-deals-image {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
}

.bobomb-img {
    width: 300px;
    height: 100px;
    /* animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
}

@keyframes grow {
    from {transform: scale(.9)}
    to {transform: scale(1)}
}

.img-flip {
    transform: scaleX(-1);
}

.stars-image {
    width: 100px;
}

.mario-pipe-image {
    width: 450px;
    z-index: 5;
}

.mario-rpg-image {
    width: 350px;
    height: 225px;
    position: relative;
    /*animation-name: moveRight;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    /*animation-fill-mode: forwards;*/
}

.mario-boxart {
    width: 350px;
    height: 225px;
}

@keyframes moveRight {
    0% {left: 200px}
    20% {left: 250px}
    40% {left: 325px}
    60% {left: 400px}
    80% {left: 475px}
    100% {left: 550px}
}

.mario-image {
    position: relative;

    width: 250px;
    /* animation-name: moveMario;
    animation-duration: 3s;
    animation-iteration-count: infinite; */
}

@keyframes moveMario {
    0% {right: 0px}
    100% {right: 175px; bottom: 100px;}
}

.megaman-section {
    margin-top: 5rem;
}

/* .game-image {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.game-image:hover{
    transform: rotateY(180deg);
} */

.bullet-image {
    width: 70px;
    height: 60px;
    position: relative;
    bottom: 57px;
    left: 100px;
    /* animation-name: moveBullet;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;  */
}

@keyframes moveBullet {
    0% {left: 50px}
    100% {left: 450px}
}

.snake-section {
    width: 600px;
    height: 600px;
    margin: 2rem auto;

}
